.buttonHamburguer {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--N400);
  background-color: var(--N200);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonHamburguer svg * {
  fill: var(--N600);
}

.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--BGModal);
}

.aside {
  background-color: var(--N0);
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 100vh;
  box-shadow: 0 0 15px  rgba(0, 0, 0, 0.149);
  border-radius: 0 .7rem .7rem 0;
  z-index: 500;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  height: 2rem;
  width: auto;
}

.logo * {
  fill: var(--N800);
}

.lista {
  padding: 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.listaGrupo {
  padding: 0 8px;
}

.divisor {
  width: auto;
  height: 1px;
  background-color: var(--N400);
}

.active {
  background-color: var(--BGItemActive);
  position: relative;
}

.active::before {
  content: "";
  display: block;
  position: absolute;
  left: -7px;
  width: 4px;
  height: 1.5rem;
  border-radius: 5px;
  background-color: var(--Blue);
}
