.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--N200);
  border-bottom: 1px solid var(--N400);
}

.partLeft,
.partCenter,
.partRight,
.rightWrapper,
.repoActions,
.copilot {
  display: flex;
  align-items: center;
}

/* ---------------- left ------------- */

.partLeft {
  padding: 1rem 0.5rem 1rem 1rem;
  gap: 0.8rem;
}

.logo,
.user {
  height: 1.9rem;
  width: auto;
}

.logo svg,
.user svg {
  height: 1.9rem;
  width: auto;
}

.logo svg *,
.user svg * {
  fill: var(--N800);
}

/* ---------------- center ------------- */

.partCenter {
  padding: 1rem 0;
  width: 2000px;
  justify-content: space-between;
}

.pageLocationTitle {
  color: var(--N800);
  font-size: 0.825rem;
  font-weight: 600;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.pageLocationTitle:hover {
  background-color: var(--N300);
}

.searchButton {
  padding: 0 12px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.searchTitle {
  padding: 0 35px 0 0;
  color: var(--N600);
}

.searchTitle kbd {
  display: inline-block;
  width: 1rem;
  border: 1px solid var(--N600);
  border-radius: 4px;
  color: var(--N600);
}

/* ---------------- right ------------- */

.partRight {
  padding: 1rem 1rem 1rem 0.5rem;
}

.partRight,
.rightWrapper,
.repoActions {
  gap: 0.725rem;
}

.copilot {
  height: 2rem;
  width: 3.625rem;
  background-color: var(--N200);
  border: 1px solid var(--N400);
  border-radius: 0.5rem;
  justify-content: center;
}

.copilot > svg {
  margin: 0 0.3rem;
}

.copilot button {
  height: 100%;
  background-color: var(--N200);
  border-left: 1px solid var(--N400);
  padding-left: 0.2rem;
  display: flex;
  align-items: center;
}

.bar {
  width: 1px;
  height: 1.2rem;
  background-color: var(--N400);
}

.createNew {
  gap: 5px;
}

.user,
.logo {
  cursor: pointer;
}
