.tooltip {
  position: relative;
}

.tooltipText,
.tooltipTextLeft,
.tooltipTextRight,
.tooltipPortalBox {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  display: inline-block;
  white-space: nowrap;
  font-size: 0.75rem !important;
  font-weight: 400 !important;
  background-color: var(--N800);
  color: var(--N0);
  padding: 0.4rem 0.5rem;
  border-radius: 0.4rem;
  z-index: 2;
}

.tooltipText,
.tooltipTextLeft,
.tooltipTextRight {
  position: absolute;
  top: 120%; /* aparece abaixo do elemento */
  z-index: 2; /* garante que fique acima da lista */
}

.tooltipText {
  left: 50%;
  transform: translateX(-50%);
}

.tooltipTextLeft {
  left: 0px;
}

.tooltipTextRight {
  right: 0px;
}

.tooltip:hover .tooltipText,
.tooltip:hover .tooltipTextLeft,
.tooltip:hover .tooltipTextRight,
.tooltipPortalWrapper:hover .tooltipPortalBox {
  opacity: 1;
  visibility: visible;
}

/* -------- Portal -------- */

.tooltipPortalWrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltipPortalWrapper > span{
  margin: 0;
}

.tooltipPortalBox {
  transform: translateX(-50%);
}
