.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.pageModelContainer {
  display: grid;
  grid-template-columns: 21rem 1fr;
}

.pageModelAside {
  border-right: 1px solid var(--N400);
  min-height: 100dvh;
}

.inputRepository {
  background-color: var(--N0);
  border: 1px solid var(--N400);
  height: 2rem;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.3rem 0.75rem;
}

.inputRepository:focus-within{
  border: 2px solid var(--Blue);
  outline: none;
}