.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.pageModelContainer {
  display: grid;
  grid-template-columns: 21rem 1fr;
}

.pageModelAside {
  border-right: 1px solid var(--N400);
  min-height: 100dvh;
}

.smallTitle {
  font-size: 0.825rem;
  font-weight: 600;
  color: var(--N800);
}

.inputRepository,
.textarea {
  background-color: var(--N0);
  border: 1px solid var(--N400);
  height: 2rem;
  border-radius: var(--BR1);
  width: 100%;
}

.inputRepository input,
.textarea textarea {
  outline: none;
}

.inputRepository:has(input:focus),
.inputRepository:focus,
.textarea:has(textarea:focus) {
  border: 1px solid var(--Blue);
  outline: 1px solid var(--Blue);
}
