@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');


:root {
  --N0: #fff;
  --N200: #f6f8fa;
  --N400: #d1d9e0;
  --N600: #59636e;
  --N800: #1f2328;
  --N1000: #000;

  --Blue: #0969da;
  --Red: #cf222e;

  --fontStack-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --fontStack-sansSerif:
    "Mona Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--fontStack-sansSerif);
}


button{
  border: none;
  font-family: var(--fontStack-sansSerif);
}

a, li{
  text-decoration: none;
}

svg * {
  fill: var(--N600);
}

li{
  list-style: none;
}