.tooltip {
  position: relative;
}

.tooltipText,
.tooltipTextLeft,
.tooltipTextRight {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  display: inline-block;
  white-space: nowrap;
  font-size: 0.75rem;
  background-color: var(--N800);
  color: var(--N0);
  padding: 0.4rem 0.5rem;
  border-radius: 0.4rem;
  top: 120%;
}

.tooltipText {
  left: 50%;
  transform: translateX(-50%);
}

.tooltipTextLeft {
  left: 0px;
}

.tooltipTextRight {
  right: 0px;
}

.tooltip:hover .tooltipText,
.tooltip:hover .tooltipTextLeft,
.tooltip:hover .tooltipTextRight {
  opacity: 1;
  visibility: visible;
}
